<div id="restaurant-header">
  <header class="mdc-layout__header mdc-layout__header--transparent" data-fir-style="backgroundImage:photo">

    <div class="mdc-layout-grid" style="width: 100%;">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <a href="/" data-navigo class="material-icons" id="close">close</a>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 info">
              <div class="max_width_600">
                <h2 data-fir-content="name"></h2>
                <span class="price"></span>
                <div class="rating"></div>
                <div class="details">
                  <span class="rating"></span>
                  <span data-fir-content="category"></span>
                  <span class="light">●</span>
                  <span data-fir-content="city"></span>
                </div>
                <button id="show-add-review" data-fir-click="show_add_review" class="mdc-button fab">
                    <i class="material-icons">add</i>
                  </button>
              </div>
            </div>
        </div>
      </div>
  </header>
</div>
